/*div style*/

.common{
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
}
.top{
    top: 5px;
    left: 0px;
    right: 0px;
}
.middle{
    top: 275px;
    left: 0px;
    right: 0px;
}
.bottom{
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    font-style: bold;
    font-size: small;
    background-color: lightblue;
}
img{
    padding: 30px;
    margin: 5px;
    /*centers stuff*/
    display: block;
    margin: auto;
    width: 730px;
    height: 180px;
    background-color: red;
}
body{
    background-color: lightcyan
}
h2{
    text-align: center;
    font-size: 15pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3{
    text-align: left;
    font-size: 13pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.picofme{
    height: 500px;
    width: 380px;
    background-color: blue;
}
.onedirection{
    height: 400px;
    width: 420px;
    background-color: grey;
}
h4{
    text-align: center;
    font-size: 10pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
iframe{
    display: block;
    margin: auto;
    border: 2px red;
}
.tableauPlaceholder{
    top: 2150px;
    bottom: 0px;
}
.button{
    position: absolute;
    bottom: 0px;
    z-index: 1000;
}